# Data Cleaning
---
### Date: 21 July 2025
### Class: DAAA/FT/2B/22
### Group-5
### Group Member: Kaung Myat San, Swam Htet Aung, Ethan Ng Wen Xian
---

## Loading Modules

In [4]:
import pandas as pd 
from docx import Document

# Appointment Data Analysis and Cleaning
---

In [8]:
# read appointment.xlsx from a URL (must use the raw file link and specify engine)
appointment = pd.read_excel(
	"https://raw.githubusercontent.com/ATLAS097/Data-Engineering-CA2/main/data/appointment.xlsx",
	engine="openpyxl"
)

In [9]:
appointment.head()

,PatientID,DoctorID,BuildingID,RoomID,ScheduledStart,ScheduledEnd,Arrival,ActualStart,ActualEnd,Weight(kg),Temperature(celcius),Comment
0,P0191,E0066,B0001,R0402,2024-01-05 14:00:00,2024-01-05 15:00:00,2024-01-05 14:35:00,2024-01-05 14:35:00,2024-01-05 15:11:00,49.5,37.2,Orientation comfortably
1,P0776,E0065,B0004,R0104,2024-02-27 14:00:00,2024-02-27 15:00:00,2024-02-27 14:59:00,2024-02-27 14:59:00,2024-02-27 16:03:00,55.5,37.1,Imaging has improved slightly
2,P0157,E0051,B0001,R0301,2022-12-28 09:00:00,2022-12-28 10:00:00,NaT,NaT,NaN,NaN,NaN,NaN
3,P0593,E0044,B0004,R0101,2023-01-04 15:00:00,2023-01-04 16:00:00,2023-01-04 15:48:00,2023-01-04 15:48:00,2023-01-04 16:22:00,50.5,36.8,Rash reported today
4,P0434,E0074,B0002,R0203,2020-04-14 09:00:00,2020-04-14 10:00:00,2020-04-14 09:39:00,2020-04-14 09:39:00,2020-04-14 10:07:00,49.5,38.1,Continue observed on forearm

# Facility Data Analysis and Cleaning
---

In [ ]:
document = Document("https://github.com/ATLAS097/Data-Engineering-CA2/blob/main/data/facility.docx")
tables = []
for index,table in enumerate(document.tables):
    df = [['' for i in range(len(table.columns))] for j in range(len(table.rows))]
    for i, row in enumerate(table.rows):
        for j, cell in enumerate(row.cells):
            df[i][j] = cell.text
        pd.DataFrame(df).to_excel("Tabela__ "+str(index)+".xlsx")
print("Done")

# Patient Data Analysis and Cleaning
---

In [11]:
patient = pd.read_excel("https://raw.githubusercontent.com/ATLAS097/Data-Engineering-CA2/main/data/patient.xlsx", engine="openpyxl")
patient.head()

,PatientID,Name,Sex,Contact,email,Address,DOB
0,P0001,Kelsey Moore,female,39472495,kelsey.moore@gmail.com,"34892 Christopher Crossing, South Brooke, NH 1...",1997-05-05
1,P0002,William Perry,male,15351117,william.perry@hotmail.com,"94501 Bell Islands Suite 485, New Jessica, NJ ...",2007-06-06
2,P0003,Nicholas Jones,male,56648257,nicholas.jones@yahoo.com,"8841 Lewis Parkways Apt. 040, South Kristen, I...",1975-12-04
3,P0004,Theresa Smith,female,45807263,theresa.smith@outlook.com,"271 Jeffrey Freeway, Willisbury, ME 39487",1997-09-14
4,P0005,Tara Kennedy,female,84234563,tara.kennedy@protonmail.com,"64128 Rick Coves Apt. 284, Lake James, NJ 51964",2011-02-22

# Staff Data Analysis and Cleaning
---

In [19]:
staff = pd.read_csv("https://raw.githubusercontent.com/ATLAS097/Data-Engineering-CA2/main/data/staff.csv")
staff.head()

,DoctorID,Name,Contact,Email,DepartmentID,Department
0,E0001,Grace Chen,78901234,grace.chen@abchospital.com,D0005,Pediatrics
1,E0002,Henry Adams,75678901,henry.adams@abchospital.com,D0002,Intensive Care Unit
2,E0003,Maya Patel,44567890,maya.patel@abchospital.com,D0008,Surgery
3,E0004,Sean Underwood,84345678,sean.underwood@abchospital.com,D0001,Emergency
4,E0005,Amy Bryant,72123456,amy.bryant@abchospital.com,D0009,Neurology